/* <!-- Início do cabeçalho (Header) --> */

header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

html {
  scroll-behavior: smooth;
}

.container-barraMenu {
  display: flex;
  width: 100%;
  max-width: 1312px;
  padding: 2px 14px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.container-logoMenu {
  display: flex;
  width: 222px;
  height: 72px;
  align-items: center;
  gap: 16px;
}

.title-logo {
  width: 119px;
  height: 30px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2.42px;
}

.container-menu {
  display: flex;
  height: 34px;
  width: 541px;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.container-menu-texto {
  display: flex;
  width: 60px;
  height: 34px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-menu-textoSobreMim {
  display: flex;
  width: 88px;
  height: 34px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-menu-texto-inicio {
  display: flex;
  width: 3px;
  height: 34px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.container-menu-texto a,
.container-menu-texto-sobre-mim a,
.container-menu-texto-inicio a {
  color: var(--PrimeiraCOR, #0F4C83);
  text-shadow: 0px 4px 4px #2e6cf352;
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.container-area-login {
  display: flex;
  width: 84px;
  height: 33px;
  align-items: center;
  gap: 5px;
}

.btn-login-user {
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 58px;
  height: 26px;
  border-radius: 5px;
  border: none;
  padding: 4px;
  background-color: #134bc33d;
}

.icon-login-user {
  width: 30px;
  height: 33px;
}


/* <!-- Início do conteúdo principal (Main) --> */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* <!-- Seção Banner --> */

.container-banner {
  display: flex;
  width: 100%;
  height: 372px;
  overflow: hidden;
  padding: 0px 2px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.container-banner-img {
  display: flex;
  width: 1312px;
  height: 369px;
  overflow: hidden;
  padding: 10px 0px 16px 0px;
  border-radius: 5px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat, url(<path-to-image>) lightgray 50% / cover no-repeat, url(<path-to-image>) lightgray 50% / cover no-repeat, url(<path-to-image>) lightgray 50% / cover no-repeat, url(<path-to-image>) lightgray 50% / cover no-repeat; */
  justify-content: center;
  align-items: center;
}

.img-banner {
  width: 1312px;
  height: 369px;
}

/* <!-- Seção Sobre Terapia --> */

.container-sobreTerapia {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1312px;
  height: auto;
  border-top-width: 1px;
  margin-bottom: 40px;
}

.container-titulo-terapia {
  width: 1302px;
  height: 43px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.titulo-terapia {
  width: 1302px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}


.container-text-img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}


.container-text-terapia {
  display: flex;
  width: 596px;
  height: 542px;
  overflow: hidden;
  padding: 138px 22px;
  border-radius: 50px;
  background: #FFF;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.text-terapia {
  width: 567px;
  height: 240px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.92px;
  border-bottom: 1px solid #0F4C83;
}

.container-img-autocuidado {
  display: flex;
  width: 596px;
  height: 542px;
  overflow: hidden;
  padding: 20px var(--sds-size-space-100);
  border-radius: 50px;
  background: #FFF;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-autocuidado {
  width: 537.626px;
  height: 510.834px;
  border-radius: 50px;
  /* background: url(../assets/autocuidado.png) lightgray -161.709px -31.704px / 160.157% 112.413% no-repeat; */
  aspect-ratio: 537.63/510.83;
}

/* <!-- Seção Sobre Mim --> */

.container-sobreMim {
  width: 100%;
  max-width: 1312px;
  height: auto;
  display: flex;
  overflow: hidden;
  padding: 30px 30px 30px 30px;
  border-top: 1px solid #0F4C83;
  background: rgba(19, 75, 195, 0.05);
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
}

.container-quemSou {
  width: 610px;
  height: 572px;
  display: flex;
  width: 610px;
  height: 572px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-titulo-quemSou {
  display: flex;
  width: 610px;
  height: 572px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.titulo-quemSou {
  width: 420px;
  height: 56px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.container-text-quemSou {
  width: 610px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}


.text-quemSou {
  width: 520px;
  height: 430px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.92px;
}

.container-curiosidades {
  display: flex;
  width: 610px;
  height: 572px;
  flex-direction: column;
  align-items: center;
}

.container-titulo-curiosidade {
  display: flex;
  height: 56px;
  width: 610px;
  padding: 10px;
  border-top: 1px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: center;
}

.titulo-curiosidades {
  width: 224px;
  height: 42px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-img-curiosidades {
  display: flex;
  height: 522px;
  width: 610px;
  overflow: hidden;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  align-self: stretch;
}

.container-imgAna {
  display: flex;
  width: 260px;
  height: 344px;
  justify-content: center;
  align-items: center;

}

.imgAna {
  width: 260px;
  height: 260px;
  border-radius: 167.797px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* background: url(../assets/imgAna.png) lightgray -85.84px -239.176px / 166.991% 289.957% no-repeat; */
  aspect-ratio: 1/1;
}

.container-text-curiosidades {
  display: flex;
  width: 260px;
  height: 344px;
  overflow: hidden;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.container-priCuriosidade {
  display: flex;
  width: 254px;
  height: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;


}

.text-priCuriosidade {
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.92px;
}

.container-segCuriosidade {
  display: flex;
  width: 254px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.text-segCuriosidade {
  width: 179px;
  height: 60px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.92px;
}

/* <!-- Seção Faixa de Chamada para Ação (CTA) --> */

.container-faixa {
  display: flex;
  width: 100%;
  max-width: 1311px;
  height: 64px;
  overflow: hidden;
  padding: 0px 39px;
  border-top: 1px solid var(--PrimeiraCOR, #0F4C83);
  background: var(--PrimeiraCOR, #0F4C83);
  justify-content: center;
  align-items: center;
  gap: 550px;
  margin-bottom: 40px;
}

.container-text-faixa {
  width: 518px;
  height: 64px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-cta {
  width: 498px;
  height: 37px;
  color: var(--BegeFundo, #D9D9D9);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.container-botao-cta {
  display: flex;
  width: 186px;
  height: 30px;
  border-radius: 50px;
  background: #FFF;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.img-whatsApp {
  display: flex;
  width: 186px;
  height: 30px;
  border-radius: 50px;
  background: #FFF;
  justify-content: center;
  align-items: center;
}

/* <!-- Seção Depoimentos --> */

.container-meusPacientes {
  display: flex;
  width: 100%;
  max-width: 1312px;
  height: auto;
  overflow: hidden;
  border-radius: 3px;
  border-top: 1px solid var(--PrimeiraCOR, #0F4C83);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;

}

.container-titulo-meusPacientes {
  display: flex;
  width: 1312px;
  height: 97px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titulo-meusPacientes {
  display: flex;
  width: 1312px;
  height: 97px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titulo-paciente {
  width: 257px;
  height: 43px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-comentariosCaixa {
  display: flex;
  width: 100%;
  max-width: 1312px;
  height: 532px;
  overflow: hidden;
  border-radius: 3px;
  flex-direction: row;
  border-top: 1px solid var(--PrimeiraCOR, #0F4C83);
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 10px;
}

.caixa1 {
  display: flex;
  width: 402px;
  overflow: hidden;
  padding: 153.5px 21.398px 30px 21.602px;
  border-radius: 60px;
  border: 1px solid var(--PrimeiraCOR, #0F4C83);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--Grays-White, #FFF);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 68.5px;
}


.text-comentarioCaixa {
  width: 359px;
  height: 120px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containerPessoa {
  display: inline-flex;
  overflow: hidden;
  padding: 11px 21px;
  border-radius: 10px;
  background: #0F4C83;
  justify-content: center;
  align-items: center;
}

.nomePessoa {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* <!-- Seção Terapia Online --> */

.container-terapia-online {
  display: flex;
  width: 100%;
  max-width: 1312px;
  height: auto;
  padding-top: 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #0F4C83;
  background: rgba(19, 75, 195, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-titulo-terapia-online {
  width: 1302px;
  height: 83px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-terapia-online {
  color: var(--PrimeiraCOR, #0F4C83);
  text-align: center;
  font-family: "Inria Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-text-img {
  display: flex;
  width: 1302px;
  height: 563px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.container-text-terapia {
  display: flex;
  width: 567px;
  height: 516px;
  padding: 138px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 567;
  height: 516;
  border-radius: 50px;
  padding-top: 138px;
  padding-right: 22px;
  padding-bottom: 138px;
  padding-left: 22px;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
}

.texto-terapia-online {
  height: 360px;
  width: 545px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.92px;
}

.container-area-fotoilustrativa {
  display: flex;
  width: 598px;
  height: 534px;
  padding: 20px var(--sds-size-space-100);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding-top: 20px;
  padding-right: Space/100;
  padding-bottom: 20px;
  padding-left: Space/100;
}

.img-terapia-online {
  width: 543.849px;
  height: 516.747px;
  aspect-ratio: 543.85/516.75;
  border-radius: 50px;
}

/* <!-- Seção Dúvidas Frequentes --> */
.container-sessao-duvidas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1312px;
  height: auto;
  margin: 40px auto;
  margin-bottom: 40px;
  border-top: 1px solid var(--PrimeiraCOR, #0F4C83);
}

.container-titulo-duvidas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 276px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.text-duvidas {
  width: auto;
  height: auto;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1302px;
}

.accordion-item {
  margin-bottom: 10px;
  border: 1px solid var(--CoolGray-20, #DDE1E6);
  border-radius: 5px;
  overflow: hidden;
  background: var(--Default-White, #FFF);
}


.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: var(--Default-White, #FFF);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: var(--PrimeiraCOR, #0F4C83);
  border-bottom: 1px solid var(--CoolGray-20, #DDE1E6);
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #f1f1f1;
}

.accordion-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #333;
  background-color: var(--Default-White, #FFF);
}

.accordion-content p {
  margin: 0;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* <!-- Seção Footer --> */

.containerFooter {
  display: flex;
  width: 100%;
  max-width: 1312px;
  height: 297px;
  overflow: hidden;
  padding: 5px 62px;
  background: #0F4C83;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 99px;
  flex-wrap: wrap;
  border: 1px solid blue;
}

.footer {
  display: flex;
  width: 1316px;
  padding: 48px 80px;
  background: #0F4C83;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.footer-top {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.containerLogo {
  display: flex;
  width: 222px;
  align-items: center;
  gap: 16px;
}

.logoFooter {
  width: 88px;
  height: 72px;
  border-radius: 17px;
  /* background: url(../assets/logoPrincp.png) lightgray -18.009px -27.954px / 140% 179.417% no-repeat; */
}

.nomeLogo {
  width: 119px;
  color: #FFF;
  font-family: "Inria Serif";
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 2.42px;
}

.menuFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.menu-item {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
}

.text-item {
  color: var(--Default-White, #FFFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}


.direitos-footer {
  border-top: 1px solid white;
  display: flex;
  width: 100%;
  padding: 48px 80px;
  background: #0F4C83;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.text-direito {
  color: var(--Default-White, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.socialicons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.icon-instagram,
.icon-whatsapp {
  width: 24px;
  height: 24px;
}

/* @media screen and (max-width:1020px){ */
/* header-menu */
/* .container-menu,.container-area-login{ */
/* display: none; */
/* } */

/* sessão banner*/
/* .container-banner{ */
/* } */



/* } */